<% provide(:title, "Meter") %>
<div>
    <%= form_for( [@building,@building.meters.new] ) do |f| %>
	    <div class="row">
		    <div class="field">
		        <%= f.label :meter_number %><br>
		        <%= f.text_field :meter_number, :value => @meter.meter_number %>
		    </div>
		    <div class="field">
		        <%= f.label :previous_read %><br>
		        <%= f.hidden_field :previous_read, :value => @v_pre_read %>
		    </div>
		</div>
	    <div class="field">
	        <%= f.label :current_read %><br>
	        <%= f.number_field :current_read %>
	    </div>   
	    <div class="field">
	        <%= f.label :current_read_demand %><br>
	        <%= f.number_field :current_read_demand, :disable => "if #{@meter.demand_yn} == f" %>
	    </div>    
	    <div class="actions">
	        <%= f.submit "Submit", class: "actions" %> 
	    </div>
    <% end %>   
</div>


