<% provide(:title, "Edit workday") %>
<h1>Update Workday</h1>
<div class="form-group">
   <%= form_with scope: :workday, url: workdays_path, local: true do |form| %>

  <% if @workday.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@workday.errors.count, "error") %> prohibited
        this workday from being saved:
      </h2>
      <ul>
        <% @workday.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %> 
  </p>
  <p>
    <%= form.label :workday_type %><br>
    <%= form.text_field :workday_type %>
  </p>

  <p>
    <%= form.label :complete, class: "checkbox inline" do %>
	<%= form.check_box :complete %>
	<span>Click to set work day as complete</span>
	<% end %>   
  </p>

  <p>
    <%= form.submit %>
  </p>

  <% end %>
</div> 


<%= link_to 'Back', workday_path(@workday) %> 