<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title><%= full_title(yield(:title)) %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag  'application',  'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--   <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery-3.2.1', 'data-turbolinks-track': 'reload' %> -->

  <!-- Template styles -->
  <style rel="stylesheet">
    /* TEMPLATE STYLES */
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-toggleable-md navbar-expand-lg">
    <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
        <% if logged_in? %>
          <li class="dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Account</a>
            <ul class="dropdown-menu">
              <li><a href="#"><span class="glyphicon glyphicon-user"> Logged in as <%= current_user.name %></a></li>
              <li><a href="#"><%= link_to "Profile", current_user %></a></li>
              <li><a href="#"><%= link_to "Settings", edit_user_path(current_user) %></a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"> Logout</a></li>            
            </ul>
          </li>
        <% else %> 
          <li><a href="/login"><span class="glyphicon glyphicon-log-in">Login</a></li>
        <% end %>   
      </ul>
    </div>
  </nav>

  <main>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>  
    
  </main>

</body>

<footer class="footer page-footer center-on-small-only">

  <!--Footer links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-lg-7 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong>About Standard Energy Systems</strong></h5>
          <p>Since 1989, Standard Energy Systems, Inc. formerly Intella Systems has been the leader in electric, water and gas submetering. We offer a wide range of products that are affordable for any size customer. From power line carrier, radio frequency, hardwired systems, modem and internet communications, we do it all.
          </p>
      </div>
      <!--/.First column-->
      <hr class="w-100 clearfix d-sm-none">
      <!--Second column-->
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong></strong></h5>
        <ul>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
        <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer links-->

  <div class="container-fluid bg-grey">
  </div>

  <!--Copyright-->
  <div class="footer-copyright">
      <div class="container-fluid">© 2017 Copyright:<p><a href="#"> StandardEnergySystems</a></p></div>
  </div>
  <!--/.Copyright-->

</footer>

</html>