<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Standard Energy Systems<%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application',  'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }

        .navbar {
            background-color: #3b3b3f;
        }

        footer.page-footer {
            background-color: #3b3b3f;
            margin-top: 2rem;
        }
        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }
        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>

</head>

<body>

  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">Help</a>
            </li>

            <% if logged_in? %>
              <li class="nav-item btn-group">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
                </div>
              </li>
            <% else %> 
              <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
            <% end %> 
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
    <!--/.Navbar-->

  </header>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>  
  <footer class="footer page-footer center-on-small-only">

      <!--Footer links-->
      <div class="container-fluid">
          <div class="row">
              <!--First column-->
              <div class="col-lg-3 col-md-6 ml-auto">
              </div>
          </div>
      </div>
      <!--/.Footer links-->

      <hr>

      <!--Call to action-->
      <div class="call-to-action">
          <h4 class="mb-5">Material Design for Bootstrap</h4>
          <ul>
              <li>
                <h5>Get our UI KIT for free</h5>
              </li>
              <li><a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-danger" rel="nofollow">Sign up!</a></li>
              <li><a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-info" rel="nofollow">Learn more</a></li>
          </ul>
      </div>
      <!--/.Call to action-->

      <!--Copyright-->
      <div class="footer-copyright">
          <div class="container-fluid">
              © 2017 Copyright: <a href="#"> StandardEnergySystems</a>
          </div>
      </div>
      <!--/.Copyright-->

  </footer>

</body>

</html>
