<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application',  'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }

        .navbar {
            background-color: #3b3b3f;
        }

        footer.page-footer {
            background-color: #3b3b3f;
            margin-top: 2rem;
        }
        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }
        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>


</head>

<body>

  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
            <% if logged_in? %>          
              <li class="nav-item"><%= link_to "Profile", current_user, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
              <li class="nav-item"><a class="nav-link" style='float: right;'>Logged in as <%= current_user.name %></a></li>

            <% else %> 
              <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
            <% end %> 
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
    <!--/.Navbar-->

  </header>

  <main>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>  
    
  </main>

  <footer class="footer page-footer center-on-small-only">

      <!--Footer links-->
      <div class="container-fluid">
          <div class="row">
   
              <!--First column-->
              <div class="col-lg-7 col-md-6 ml-auto">
                <h5 class="title mb-3"><strong>About Standard Energy Systems</strong></h5>
                    <p>Since 1989, Standard Energy Systems, Inc. formerly Intella Systems has been the leader in electric, water and gas submetering. We offer a wide range of products that are affordable for any size customer. From power line carrier, radio frequency, hardwired systems, modem and internet communications, we do it all.</p>
              </div>
              <!--/.First column-->
              <hr class="w-100 clearfix d-sm-none">
              <!--Second column-->
              <div class="col-lg-2 col-md-6 ml-auto">
                  <h5 class="title mb-3"><strong></strong></h5>
                  <ul>
                      <li>
                        <a href="/about">About Us</a>
                      </li>
                      <li>
                        <a href="/contact">Contact Us</a>
                      </li>
                  </ul>
              </div>
              <!--/.Second column-->
          </div>
      </div>
      <!--/.Footer links-->

      <hr>

      <!--Call to action-->
      <div class="call-to-action">
          <h4 class="mb-5"></h4>
          <ul>
            <li><h5>Get our Services</h5></li>
            <li><a target="_blank" href="/signup" class="btn btn-danger" rel="nofollow">Sign up!</a></li>
          </ul>
      </div>
      <!--/.Call to action-->
      
      <div class="container-fluid bg-grey">
      </div>

      <!--Copyright-->
      <div class="footer-copyright">
          <div class="container-fluid">© 2017 Copyright:<p><a href="#"> StandardEnergySystems</a></p></div>
      </div>
      <!--/.Copyright-->

  </footer>

</body>

</html>
